{% extends 'catalog/base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">НЕ ОЗОН</h1>
    <p class="lead">Наши публикации</p>
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    <a class="text-muted" href="/blog/create">Новая публикация</a>
                </h4>
            </div>
            <div class="card-body">
                <a class="btn btn-primary" href="{% url 'catalog:blogrecord_create'%}" role="button">Создать</a>
            </div>
        </div>
    </div>


    <div class="row text-center">
        {% for object in blogrecord_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">
                            <a class="text-muted" href="/blog/{{object.pk}}">
                                {{ object.slug }}</a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ object.header }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>{{ object.content | slice:100 }}...</li>
                        </ul>
                        <a class="btn btn-primary" href="{% url 'catalog:blogrecord' object.pk %}" role="button">Прочитать ({{object.count}})</a>
                        <div class="col-12">
                            <a class="text-muted" >
                            {% if object.is_published %}
                                    Опубликовано
                                    {% else %}
                                    Не опубликовано
                                    {% endif %}
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="text-muted" >Создано: {{object.created_at | date:'d-m-Y h:m:s'}}</a>
                        </div>
                       <div class="col-12">
                            <a class="text-muted" >Изменено: {{object.updated_at | date:'d-m-Y h:m:s'}}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}